name: Dummy Snowflake Pipeline Test

on:
  push:
    branches: [ main ]

jobs:
  pipeline-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Convert notebooks
        run: python scripts/convert_ipynb_to_py.py

      - name: Register stored procedures
        run: python scripts/register_sp.py

      - name: Create sequential tasks
        run: python scripts/create_tasks.py
